@using SitecoreBugger.Site.Model.Global;
@using SitecoreBugger.Site.Utilities;
@model List<Error>
@{
    Layout = null;
    ErrorFilter errFilter = ViewBag.ErrorFilter;
}


@if (Model.Count > 0)
{
    foreach (Error err in Model)
    {
        bool isImageFound = (err.ScreenShotId != null);
        string gotoUrl = string.Empty;

        if (!string.IsNullOrEmpty(err.Uri))
        {
            //var gotoUri = AddParameterToUri(new Uri(err.Uri), "sc-b-eid", err.ErrorId.ToString());
            //gotoUrl = gotoUri.ur
            gotoUrl = ((new Uri(err.Uri)).Query.Length > 0) ? err.Uri + "&sc-b-eid=" + err.ErrorId : err.Uri + "?sc-b-eid=" + err.ErrorId;
        }


        switch (errFilter.FilterView)
        {

            case "card":
                <div id="sc-bugger-each-id-@err.ErrorId" class="card  rounded-0 @GetSeverityColor(err.ErrorSeverityId.ToString())">
                    <input type="hidden" class="all-values"
                           err-title="@err.ErrorTitle" err-detail="@err.ErrorDetail" err-devicedetail=""
                           err-id="@err.ErrorId" err-severity="@err.ErrorSeverityId" err-type="@err.ErrorTypeId" err-status="@err.ErrorStatusId"
                           devide-detail="@err.DeviceDetails" />
                    <div class="card-header">
                        @err.ErrorId
                        <a id="edit-error" href="javascript:void(0)" class="float-right text-primary"><i class="fa fa-pencil-square-o fa-2x"></i></a>                        
                        <a id="goto-error" href="@gotoUrl" target="_blank" class="float-right text-primary  mr-2"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>

                    @if (isImageFound)
                    {
                        <img class="card-img-top" src="@Settings.ScreenSHotURLPrefix@err.ErrorId">
                    }

                    <div class="card-body">
                        <h5 class="card-title">@err.ErrorTitle</h5>
                        <p class="text-white">@err.ErrorDetail</p>
                        <p class="card-text"><small class="text-muted">@err.DateRaised</small></p>
                    </div>
                </div>
                break;
            case "detail":
                <div id="sc-bugger-each-id-@err.ErrorId" class="card rounded-0  w-2000 @GetSeverityColor(err.ErrorSeverityId.ToString())">
                    <input type="hidden" class="all-values"
                           err-title="@err.ErrorTitle" err-detail="@err.ErrorDetail" err-devicedetail=""
                           err-id="@err.ErrorId" err-severity="@err.ErrorSeverityId" err-type="@err.ErrorTypeId" err-status="@err.ErrorStatusId"
                           devide-detail="@err.DeviceDetails" />
                    <div class="card-header">
                        @err.ErrorId
                        <a id="edit-error" href="javascript:void(0)" class="float-right text-primary"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                        <a id="goto-error" href="@gotoUrl" target="_blank" class="float-right text-primary  mr-2"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>

                    @if (isImageFound)
                    {
                        <img class="card-img-top" src="@Settings.ScreenSHotURLPrefix@err.ErrorId">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@err.ErrorTitle</h5>
                        <p class="card-text text-white">@err.ErrorDetail</p>
                        <p class="card-text"><small class="text-muted">@err.DateRaised</small></p>
                    </div>
                </div>
                break;
            case "mini":
                <div id="sc-bugger-each-id-@err.ErrorId" class="card rounded-0  @GetSeverityColor(err.ErrorSeverityId.ToString())">
                    <input type="hidden" class="all-values"
                           err-title="@err.ErrorTitle" err-detail="@err.ErrorDetail" err-devicedetail=""
                           err-id="@err.ErrorId" err-severity="@err.ErrorSeverityId" err-type="@err.ErrorTypeId" err-status="@err.ErrorStatusId"
                           devide-detail="@err.DeviceDetails" />
                    <div class="card-header">
                        @err.ErrorId
                        <a id="edit-error" href="javascript:void(0)" class="float-right text-primary"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                        <a id="goto-error" href="@gotoUrl" target="_blank" class="float-right text-primary  mr-2"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@err.ErrorTitle</h5>
                        <p class="card-text text-white">@err.ErrorDetail</p>
                    </div>
                </div>
                break;
            default:
                <div id="sc-bugger-each-id-@err.ErrorId" class="card rounded-0  @GetSeverityColor(err.ErrorSeverityId.ToString())">
                    <input type="hidden" class="all-values"
                           err-title="@err.ErrorTitle" err-detail="@err.ErrorDetail" err-devicedetail=""
                           err-id="@err.ErrorId" err-severity="@err.ErrorSeverityId" err-type="@err.ErrorTypeId" err-status="@err.ErrorStatusId"
                           devide-detail="@err.DeviceDetails" />
                    <div class="card-header">
                        @err.ErrorId
                        <a id="edit-error" href="javascript:void(0)" class="float-right text-primary"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                        <a id="goto-error" href="@gotoUrl" target="_blank" class="float-right text-primary  mr-2"><i class="fa fa-external-link fa-2x"></i></a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@err.ErrorTitle</h5>
                        <p class="card-text text-white">@err.ErrorDetail</p>
                    </div>
                </div>
                break;
        }
    }

}

@functions{
    public string GetSeverityColor(string severity)
    {
        string result = "";
        switch (severity)
        {
            case "4":
                result = "text-white bg-danger";
                break;
            case "3":
                result = "text-white bg-dark";
                break;
            case "2":
                result = "text-dark bg-warning";
                break;
            case "1":
                result = "text-dark bg-info";
                break;
            default:
                result = "";
                break;
        }
        return result;
    }

  

}




