@using SitecoreBugger.Site.Model.Global;
@using SitecoreBugger.Site.Business.Bugger;

@{
    Layout = null;
    var masterData = (new BuggerBusiness()).GetMasterRecords();
    var currentProjId = (masterData.currentProject != null) ? masterData.currentProject.ProjectId : 0;
}

<!--Style-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/SCB/Styles/bootstrap-sc-bugger.css" rel="stylesheet" />
<link href="~/Content/SCB/Styles/sc-bugger-tools-main.css" rel="stylesheet" />

@*<link href="~/Content/SCB/fonts/fontawesome-free-5.10.1-web/fontawesome-free-5.10.1-web/css/all.min.css" rel="stylesheet" />*@

<div class="sc_bugger-element row">
    <div class="container-fluid">
        <!--User details-->
        @if (masterData.user != null)
        {
            <input id="user-info" type="hidden" uid="@masterData.user.UserId" rid="@masterData.user.RoleId" pid="@currentProjId" a-uid="" cookie-key="@SitecoreBugger.Site.Security.Helper.Constants.SecurityConstants.SCB_JWTAUTH" />
        }
        else
        {
            <input id="user-info" type="hidden" uid="" rid="" pid="" a-uid="" cookie-key="@SitecoreBugger.Site.Security.Helper.Constants.SecurityConstants.SCB_JWTAUTH" />
        }

        <!--Error detail modal-->
        <div id="sc-error-detail-modal" class="sc_bugger-element-modal sc_bugger-element modal error-detail-modal buger-element" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header sc_bugger-element-background-color">
                        <h4 class="modal-title">Error details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body sc_bugger-element-background-color-light">

                        <form ID="sc_bugger-form-mark-error" class="sc_bugger-form-validator" is-valid-form="false" novalidate>
                            <!--Error title-->
                            <div class="form-group">
                                <label for="errorTitle">Error title</label>
                                <input type="text" class="form-control" id="errorTitle" placeholder="Error title" required>
                                <div class="valid-feedback">

                                </div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <!--Error detail-->
                            <div class="form-group">
                                <label class="" for="errorDetail">Detailed error description (Html allowed)</label>
                                <textarea class="form-control" id="errorDetail" rows="3" placeholder="Detailed error description" required></textarea>
                                <div class="valid-feedback">

                                </div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>



                            <div id="main-form-save-elements" class="">



                                <!--Error type-->
                                <div class="form-group">
                                    <label class="" for="exampleFormControlSelect1">Error type</label>
                                    <select class="form-control" id="errorType">
                                        <option value="">Select</option>
                                        @foreach (ValuePair val in masterData.ErrorType)
                                        {
                                            <option value="@val.EId">@val.EDisplayName</option>
                                        }
                                    </select>
                                    <div class="valid-feedback">

                                    </div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <!--Error Severity-->
                                <div class="form-group">
                                    <label class="" for="errorSeverity">Error Severity</label>
                                    <select class="form-control" id="errorSeverity">
                                        <option value="">Select</option>
                                        @foreach (ValuePair val in masterData.ErrorSeverity)
                                        {
                                            <option value="@val.EId">@val.EDisplayName</option>
                                        }
                                    </select>
                                    <div class="valid-feedback">

                                    </div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <!--Error Status-->
                                <div class="form-group">
                                    <label class="" for="filter-error-status">Error status:</label>
                                    <select class="form-control" id="filter-error-status">
                                        <option value="">Select</option>
                                        @foreach (ValuePair val in masterData.ErrorStatus)
                                        {
                                            <option value="@val.EId">@val.EDisplayName</option>
                                        }
                                    </select>
                                    <div class="valid-feedback">

                                    </div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>

                                <!--Assighned user-->
                                <div class="form-group">
                                    <label class="" for="filter-error-status">Assighned to:</label>
                                    <select class="form-control" id="filter-a-user-id">
                                        <option value="">Select</option>
                                        @foreach (User val in masterData.UserList)
                                        {
                                            <option value="@val.UserId" r-id="@val.RoleId">@val.UserName</option>
                                        }
                                    </select>
                                    <div class="valid-feedback">

                                    </div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>

                                <!--Device detail-->
                                <div class="form-group">
                                    <p>
                                        <a class="btn sc_bugger-element-inner-primary-button" data-toggle="collapse" href="#collapseExample" role="button"
                                           aria-expanded="false" aria-controls="collapseExample">
                                            Device details -
                                            <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample">
                                        <div id="browser-detail" class="card card-body">
                                        </div>
                                    </div>
                                </div>
                                <!--screen shot-->

                                <div class="form-group sc_bugger-screen-shot-div sc_bugger-hide ">
                                    <div class="custom-file">

                                        <label class="custom-file-label" for="validatedCustomFile">Upload screen shot... < 700 KB </label>
                                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                                        <input id="sc_bugger-upload-screenshot" accept="image/*" type="file" class="custom-file-input" is-updated-creenshot="false">
                                        <button id="remove-screen-shot" class="btn sc_bugger-element-inner-primary-button" type="button">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <figure class="figure">
                                        <br />
                                        <img id="error-screen-shot" class="figure-img img-fluid rounded">
                                        <figcaption class="figure-caption text-right">Screen shot of an issue.</figcaption>
                                    </figure>
                                </div>
                                <button id="hidden-submit" class="sc_bugger-element-primary-button sc_bugger-hide" type="submit">Submit form</button>

                            </div>


                        </form>
                    </div>
                    <div class="modal-footer sc_bugger-element-background-color">
                        <button id="sc_bugger-submit-error" type="button" class="btn sc_bugger-element-primary-button sc_bugger-hide">Submit</button>
                        <button id="sc_bugger-save-error" type="button" class="btn sc_bugger-element-primary-button ">Mark error</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Login modal-->
        <div class="sc_bugger-element-modal modal main-modal sc-bugger-login-modal buger-element" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header sc_bugger-element-background-color">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body sc_bugger-element-background-color-light">
                        <br />
                        <div class="alert alert-warning" role="alert">
                            Please login.
                        </div>

                        <div id="invalid-user-alret" class="sc_bugger-hide alert alert-danger" role="alert">
                            Invalid user or password.
                        </div>
                        <form ID="sc_bugger-login-form" class="sc_bugger-form-validator" is-valid-form="false" novalidate>
                            <div class="form-group">
                                <label for="UserName" class="text-info">Email:</label><br>
                                <input type="email" name="Email" id="Email" class="form-control " required>
                                <div class="invalid-feedback">Please enter valid email.</div>
                            </div>

                            <div class="form-group">
                                <label for="Password" class="text-info">Password:</label><br>
                                <input type="password" name="Password" id="Password" class="form-control " required>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <input id="login-form-sc-bugger" type="submit" name="submit" class="btn btn-md sc_bugger-element-inner-primary-button" value="Login">
                            </div>

                            <div class="form-group float-right">
                                <a href="/sc-bugger/scbaccount/signup">Sign-up</a> |
                                <a href="/sc-bugger/scbaccount/ForgotPassword">Forgot password</a>
                                <br />
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer sc_bugger-element-background-color">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Settings modal-->
        <div class="sc_bugger-element-modal modal settings-modal buger-element" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header sc_bugger-element-background-color">
                        <h4 class="modal-title">Settings</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body sc_bugger-element-background-color-light">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Compress screenshot image</label>
                            <input type="checkbox" checked="checked" id="sc_bugger-settings-iscompressimage" />
                        </div>
                    </div>
                    <div class="modal-footer sc_bugger-element-background-color">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Bug icon-->
        <div class="sc_bugger-element sc_bugger-float sc_bugger-element-bottom-z-inedexed-icons">
            <div id="sc_bugger-icon-bar" class="icon-bar sc_bugger-my-float">
                @{

                    if (Request.QueryString.AllKeys.Contains("sc-b-eid", StringComparer.OrdinalIgnoreCase))
                    {
                        // value is specify in querystring
                        <a href="javascript:void(0)" class="sub-icon sc_bugger-hide sc_bugger-element-background-color" id="sc_bugger-error-refresh-goto"><i class="fa fa-refresh"></i></a>
                    }
                    else
                    {
                        // value is NOT specify in querystring
                        <a href="/sc-bugger/scbdashboard/index" target="_blank" class="sub-icon sc_bugger-hide sc_bugger-element-background-color" id="sc_bugger-dashboard"><i class="fa fa-home"></i></a>
                        <a href="javascript:void(0)" class="sub-icon sc_bugger-hide sc_bugger-element-background-color" id="sc_bugger-error-detail"><i class="fa fa-plus"></i></a>
                        <a href="javascript:void(0)" class="sub-icon sc_bugger-hide sc_bugger-element-background-color sc_bugger-disabled" id="sc_bugger-save-error-confirm"><i class="fa fa-floppy-o"></i></a>
                    }
                }
                <a href="javascript:void(0)" class="main-icon"><i id="sc_bugger-bug-icon-b" class="fa fa-bug"></i></a>
            </div>

        </div>


        <!--Loader spinning wheel-->
        <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" data-html2canvas-ignore="true">
            <div class="modal-header" data-html2canvas-ignore="true">
                <h1 data-html2canvas-ignore="true" class="text-white">Please Wait</h1>
            </div>
            <div class="modal-body" data-html2canvas-ignore="true">
                <div class="spinner-border  text-white" style="width: 5rem; height: 5rem;" role="status" data-html2canvas-ignore="true">
                </div>
            </div>
        </div>

        <!--Overrelay-->
        <div id="sc-bugger-overlay" class="sc_bugger-element-bottom-z-inedexed sc_bugger-hide">

        </div>

        <!--Alert-->
        <div id="sc-alert-area" class="fixed-top">

        </div>


    </div>
</div>

<!--Script-->
@*<script src="~/Scripts/SCB/plugins/jquery-3.4.1.min.js"></script>*@
<script src="~/Scripts/SCB/plugins/html2canvas.js"></script>
<script src="~/Scripts/SCB/plugins/popper.js"></script>
<script src="~/Scripts/SCB/plugins/bootstrap.js"></script>

<script type="text/javascript">
    var $sc_bugger_jq = $.noConflict(true);
</script>

<script src="~/Scripts/SCB/sc-bugger-main.js"></script>


