
@{
    ViewBag.Title = "TestPage";
    Layout = "~/Views/SCBLayout/_TestMain.cshtml";
}


<div class="container-fluid">

    <scbugger-log id="@("scbugger-log-id-" + (Guid.NewGuid()).ToString())" rendering="hi-am-rendering" datasource="hi-am-ds"></scbugger-log>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <scbugger-log id="@("scbugger-log-id-" + (Guid.NewGuid()).ToString())" rendering="hi-am-rendering" datasource="hi-am-ds"></scbugger-log>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <scbugger-log id="@("scbugger-log-id-" + (Guid.NewGuid()).ToString())" rendering="hi-am-rendering" datasource="hi-am-ds"></scbugger-log>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <scbugger-log id="@("scbugger-log-id-" + (Guid.NewGuid()).ToString())" rendering="hi-am-rendering" datasource="hi-am-ds"></scbugger-log>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="header clearfix">
        <nav>
            <scbugger-log id="@("scbugger-log-id-" + (Guid.NewGuid()).ToString())" rendering="hi-am-rendering" datasource="hi-am-ds"></scbugger-log>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/home" onclick="go()">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact">Contact</a>
                </li>
            </ul>
        </nav>
        <scbugger-log id="@("scbugger-log-id-" + (Guid.NewGuid()).ToString())" rendering="hi-am-rendering" datasource="hi-am-ds"></scbugger-log>
        <h3 class="text-muted">Project name</h3>
    </div>



    <script type="text/javascript">


        $(document).ready(function () {
            $("#hurray").click(function () {
                $(".jumbotron").append($("<a id='gibron' class='sdfsds kdfn lsdjkfn dd d'>Hi iam dynamic gibrannn</a>"));
            });
        });
    </script>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>



    <div class="jumbotron">
        <h1>Title here</h1>
        <p>
            Bootstrap is the most popular HTML, CSS, and JS framework for developing
            responsive, mobile-first projects on the web.
        </p>
        <p>
            Bootstrap is the most popular HTML, CSS, and JS framework for developing
            responsive, mobile-first projects on the web.
            <span>Spann</span>
        </p>
    </div>
    <p>This is some text.</p>
    <p>This is another text.</p>

    <footer class="footer">
        <p>© Company 2017</p>
    </footer>

</div>










