@using SitecoreBugger.Site.Model.Global;
@model MasterData


@{
    Layout = "~/Views/Layout/_Account.cshtml";
}

<link href="~/Content/Styles/sc-bugger-dashboard.css" rel="stylesheet" />

<div class="wrapper">
    <!-- Sidebar  http://notepad.pw/agatanu-bugger -->
    <nav id="sidebar" class="position-fixed--">

        <div class="sidebar-header">
            <h3><i id="sc_bugger-bug-icon-b" class="fa fa-bug"></i> Sitecore Bugger</h3>
            <strong><i id="sc_bugger-bug-icon-b" class="fa fa-bug"></i></strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/sc-bugger/dashboard/index#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-home"></i>
                    Home
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/sc-bugger/dashboard/report#">
                    <i class="fa fa-bar-chart"></i>
                    Report
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-address-card"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://github.com/andiappan-ar/sitecore-bugger" class="download rounded-0">Go to source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article rounded-0">Back to article</a>
            </li>
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" class="offset-1--">
        <nav class="navbar navbar-expand-lg sc_bugger-element-background-color">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary rounded-0">
                    <i class="fa fa-arrows-h"></i>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto rounded-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <!--User details-->
                                <input id="user-info" type="hidden" uid="@Model.user.UserId" rid="@Model.user.RoleId" a-uid="" />
                                <i class="fa fa-user-circle">
                                    @Model.user.UserName
                                </i>

                            </a>
                        </li>
                        <li class="nav-item active">
                            <a id="log-out" class="nav-link" href="#"> <i class="fa fa-power-off" aria-hidden="true"></i></a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>

        <h2>Dashboard</h2>
        <hr />
        <div class="container-fluid">

            <button class="btn btn-primary rounded-0" type="button" data-toggle="collapse" data-target="#filtercollapseExample" aria-expanded="false" aria-controls="filtercollapseExample">
                Collapse <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
            <div class="collapse show " id="filtercollapseExample">
                <div class="card card-body sc_bugger-element-background-color rounded-0">
                    <form id="edit-err-form-bc" class="sc_bugger-form-validator needs-validation" action="#" is-valid-form="false" novalidate>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label class="form-check-label" for="gridCheck">
                                        Select project
                                    </label>
                                    <!--Project details-->
                                    <select id="filter-project-list" class="browser-default custom-select colorful-select rounded-0 btn-lg">
                                        <option value="" selected>Select project</option>
                                        @foreach (Project val in Model.project)
                                        {
                                            <option value="@val.ProjectId">@val.ProjectName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="filter-panel rounded border card card-body sc_bugger-element-background-color">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <div class="autocomplete">
                                            <label class="form-label" for="gridCheck">
                                                Search issue by Id
                                            </label>
                                            <select id="filter-error-list" class="browser-default custom-select colorful-select rounded-0 btn-lg">
                                                <option value="">Search issue by Id</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button id="filter-clear" class="btn btn-primary  float-right rounded-0" type="button">
                                            <i class="fa fa-undo"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <div class="row">
                                    <div class="col">
                                        <input class="form-check-input" type="checkbox" id="filter-myitems">
                                        <label class="form-check-label" for="gridCheck">
                                            My items
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label" for="gridCheck">
                                            Error type:
                                        </label>
                                        <select id="filter-error-type" class="browser-default custom-select colorful-select dropdown-success rounded-0" multiple>
                                            @foreach (ValuePair val in Model.ErrorType)
                                            {
                                                <option value="@val.EId">@val.EDisplayName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label" for="gridCheck">
                                            Error severity:
                                        </label>
                                        <select id="filter-error-severity" class="browser-default custom-select colorful-select dropdown-success rounded-0" multiple>
                                            @foreach (ValuePair val in Model.ErrorSeverity)
                                            {
                                                <option value="@val.EId">@val.EDisplayName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label" for="gridCheck">
                                            Error status:
                                        </label>
                                        <select id="filter-error-status" class="browser-default custom-select colorful-select dropdown-success rounded-0" multiple>
                                            @foreach (ValuePair val in Model.ErrorStatus)
                                            {
                                                <option value="@val.EId">@val.EDisplayName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="hidden-submit" class="sc_bugger-hide" type="submit">Submit form</button>
                    </form>
                    <br />
                    <button id="filter-search" type="button" class="btn btn-primary rounded-0" data-dismiss="modal">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h4>Error lists</h4>
                </div>
            </div>
            <br />
            <div class="card card-body sc_bugger-element-background-color rounded-0">
                <div class="row">
                    <div class="col">
                        <button id="export-error" class="btn btn-primary float-right rounded-0" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <select id="filter-error-view" class="browser-default custom-select colorful-select dropdown-success rounded-0">
                            <option value="card" selected>Card view</option>
                            <option value="detail">Detailed view</option>
                            <option value="mini">Mini view</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <h2 id="issue-list-view-type-head" style="display:none"></h2>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div id="issue-list-card-details" class="card-columns">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Error detail modal-->
    <div class="sc_bugger-element-modal sc_bugger-element modal error-detail-modal buger-element rounded-0" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header sc_bugger-element-background-color rounded-0">
                    <h4 class="modal-title">Error details</h4>
                    <button type="button" class="close rounded-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body sc_bugger-element-background-color-light rounded-0">
                    <form ID="sc_bugger-form-mark-error" class="sc_bugger-form-validator" is-valid-form="false" novalidate>
                        <!--Error Id-->
                        <input type="hidden" id="errorID" />
                        <!--Error title-->
                        <div class="form-group">
                            <label for="errorTitle">Error title</label>
                            <input type="text" class="form-control" id="errorTitle" placeholder="Error title" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <!--Error detail-->
                        <div class="form-group">
                            <label class="" for="errorDetail">Error description (Html allowed)</label>
                            <textarea class="form-control" id="errorDetail" rows="3" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <!--Error type-->
                        <div class="form-group">
                            <label class="" for="exampleFormControlSelect1">Error type</label>
                            <select class="form-control rounded-0" id="errorType" required>
                                @foreach (ValuePair val in Model.ErrorType)
                                {
                                    <option value="@val.EId">@val.EDisplayName</option>
                                }
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <!--Error Severity-->
                        <div class="form-group">
                            <label class="" for="errorSeverity">Error Severity</label>
                            <select class="form-control rounded-0" id="errorSeverity" required>
                                @foreach (ValuePair val in Model.ErrorSeverity)
                                {
                                    <option value="@val.EId">@val.EDisplayName</option>
                                }
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <!--Error Status-->
                        <div class="form-group">
                            <label class="" for="errorSeverity">Error Status</label>
                            <select class="form-control rounded-0" id="errorStatus" required>
                                @foreach (ValuePair val in Model.ErrorStatus)
                                {
                                    <option value="@val.EId">@val.EDisplayName</option>
                                }
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <!--Device detail-->
                        <div class="form-group">
                            <p>
                                <a class="btn btn-primary rounded-0" data-toggle="collapse" href="#collapseExample" role="button"
                                   aria-expanded="false" aria-controls="collapseExample">
                                    Device details -
                                    <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div id="browser-detail" class="card card-body">
                                </div>
                            </div>
                        </div>
                        <!--screen shot-->
                        <div class="form-group sc_bugger-screen-shot-div">
                            <div class="custom-file">
                                <input id="sc_bugger-upload-screenshot" accept="image/*" type="file" class="custom-file-input" is-updated-creenshot="false">
                                <label class="custom-file-label" for="validatedCustomFile">Upload screen shot...</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                            </div>
                            <figure class="figure">
                                <br />
                                <img id="error-screen-shot" class="figure-img img-fluid rounded">
                                <figcaption class="figure-caption text-right">Screen shot of an issue.</figcaption>
                            </figure>
                        </div>
                        <button id="hidden-submit" class="sc_bugger-hide rounded-0" type="submit">Submit form</button>
                    </form>
                </div>
                <div class="modal-footer sc_bugger-element-background-color rounded-0">
                    <button id="sc_bugger-submit-error" type="button" class="btn btn-primary rounded-0">Save</button>
                    <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="sc_bugger-element">
    <!--Loader spinning wheel-->
    <div class="modal hide text-white " id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" data-html2canvas-ignore="true">
        <div class="modal-header" data-html2canvas-ignore="true">
            <h1 data-html2canvas-ignore="true">Please Wait</h1>
        </div>
        <div class="modal-body" data-html2canvas-ignore="true">
            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status" data-html2canvas-ignore="true">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/sc-bugger-dashboard.js"></script>


